<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="conteiner mr-25 ml-5">
        <a class="navbar-brand" href="/">Node First APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/#about"> <i class="icon1"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact" ><i class="fas fa-address-card"></i>Contac</a>
                </li>
            </ul>
        </div>
</nav>